{% extends "base.html" %}
{% block content %}
<div class="user-ban-management">
  <h2 class="section-title">Додавання автомобіля</h2>
    <form class="form-container" action="/user/add_car" method="post">
    <h3 class="form-title">Уведіть реєстраційний номер</h3>
    <div>
      <label class="form-label" for="floatingInput">Реєстраційний номер</label>
      <input class="form-input" type="text" id="floatingInput" name="car_plate" placeholder="Carplate" required>
    </div>
    {% if error %}
        <div role="alert">
        {{ error }}
        </div>
    {% endif %}
    <div>
    <button class="btn-primary" type="submit">Додати автомобіль</button>
    </div>
  </form>
</div>
{% endblock %}