{% if bills %}
<table hx-indicator=".htmx-indicator">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Автомобіль</th>
            <th>Заїзд</th>
            <th>Виїзд</th>
            <th>Вартість</th>
            <th>Статус</th>
        </tr>
    </thead>
    <tbody>
        {% for id, bill in bills %}
        <tr>
            <th>{{ id }}</th>
            <th>{{ bill.history.car }}</th>
            <th>{{ bill.history.start_time }}</th>
            <th>{{ bill.history.end_time }}</th>
            <th>{{ bill.cost }}</th>
            <th>{{ bill.status }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<center><img class="htmx-indicator" width="60" src="{{ url_for ('static', path='img/bars.svg')}}"></center>
{% else %}
    <h1>There are no bills yet</h1>
{% endif %}
