
<div class="car-statistics">
    <h2 class="section-title">Мої Рахунки</h2>
<table hx-indicator=".htmx-indicator" class="parking-history-table">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Автомобіль</th>
            <th>Заїзд</th>
            <th>Виїзд</th>
            <th>Вартість</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% if bills %}
        {% for id, bill in bills %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ bill.history.car }}</td>
            <td>{{ bill.history.start_time }}</td>
            <td>{{ bill.history.end_time }}</td>
            <td>{{ bill.cost }}</td>
            <td>
                {% if bill.status=='paid' %}
                Оплачений
                {% else %}
                <a class=button href="{{ url_for('post_paybill', bill_id=bill.id)}}">Оплатити разунок</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="6">There are no bills yet</td>
        </tr>
        {% endif %}
    </tbody>
</table>
<center><img class="htmx-indicator" width="60" src="{{ url_for ('static', path='img/bars.svg')}}"></center>
</div>