{% extends "base.html" %}
{% block content %}
{% if error%}
<h2>
    {{ error }}
</h2>
{% else %}
{% if bills %}
<table hx-indicator=".htmx-indicator">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Заїзд</th>
            <th>Виїзд</th>
            <th>Вартість</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% for id, bill in bills %}
        <tr>
            <th>{{ id }}</th>
            <th>{{ bill.history.start_time }}</th>
            <th>{{ bill.history.end_time }}</th>
            <th>{{ bill.cost }}</th>
            <th>
                {% if bill.status=='paid' %}
                Оплачений
                {% else %}
                <a class=button href="{{ url_for('post_paybill', bill_id=bill.id)}}">Оплатити разунок</a>
                {% endif %}
            </th>
        </tr>
        {% endfor %}
    </tbody>
</table>
<center><img class="htmx-indicator" width="60" src="{{ url_for ('static', path='img/bars.svg')}}"></center>
{% else %}
    <h1>There are no bills yet</h1>
{% endif %}
{% endif %}
{% endblock %}