{% extends "base.html" %}
{% block content %}
{% if error%}
<h2>
    {{ error }}
</h2>
{% else %}
<div class="car-statistics">
    <h2 class="section-title">Історія паркувань автомобіля</h2>
    <p class="car-plate">Номерний знак: <strong>{{ car }}</strong></p>
<table hx-indicator=".htmx-indicator" class="parking-history-table">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Заїзд</th>
            <th>Виїзд</th>
        </tr>
    </thead>
    {% if parkings %}
    <tbody>
        {% for id, parking in parkings %}
        <tr>
            <td>{{ id }}</td>
            <td>{{ parking.start_time }}</td>
            <td>{{ parking.end_time }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="3">There are no parkings yet</td>
        </tr>
{% endif %}
    </tbody>
</table>
<center><img class="htmx-indicator" width="60" src="{{ url_for ('static', path='img/bars.svg')}}"></center>
{% endif %}
</div>
{% endblock %}