{% extends "base.html" %}
{% block content %}
{% if error%}
<h2>
    {{ error }}
</h2>
{% else %}
{% if parkings %}
<h2>Історія паркувань автомобіля {{ car }}</h2>
<table hx-indicator=".htmx-indicator">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Заїзд</th>
            <th>Виїзд</th>

        </tr>
    </thead>
    <tbody>
        {% for id, parking in parkings %}
        <tr>
            <th>{{ id }}</th>
            <th>{{ parking.start_time }}</th>
            <th>{{ parking.end_time }}</th>

        </tr>
        {% endfor %}
    </tbody>
</table>
<center><img class="htmx-indicator" width="60" src="{{ url_for ('static', path='img/bars.svg')}}"></center>
{% else %}
    <h1>There are no parkings yet</h1>
{% endif %}
{% endif %}
{% endblock %}