<div class="car-statistics">
    <h2 class="section-title">Перелік автомобілів</h2>
<table hx-indicator=".htmx-indicator" class="parking-history-table">
    <thead>
        <tr>
            <th>№ з/п</th>
            <th>Номерний знак</th>
            <th>Статус</th>
            <th>Дія</th>
        </tr>
    </thead>
    <tbody>
        {% if cars %}
        {% for id, car in cars %}
        <tr>
            <td>{{ id }}</td>
            <td>{{car.car_plate}}</td>
            <td>{{car.status}}</td>
            <td><ul>
                    <li style="display: inline">
                        <a href="{{ url_for('get_car_parkings', car_plate=car.car_plate) }}" >Історія паркувань</a>
                    </li>
                    <li style="display: inline">
                        <a href="{{ url_for('get_car_bills', car_plate=car.car_plate) }}">Рахунки</a>
                    </li>
                    <li style="display: inline">
                        <a href="{{ url_for('get_car_delete_form', car_plate=car.car_plate)}}">Видалити</a>
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="4">Немає записів.</td>
         </tr>
         {% endif %}
    </tbody>
</table>
<a href="{{ url_for('get_add_car_form')}}" class="button">Додати автомобіль</a>
</dv>

    
