{% extends "base.html" %}
{% block content %}
{% if error %}
<div>
    <h2>
        {{ error }}
        <a class="button" href="{{ url_for('get_user_page')}}">На власну сторінку</a>
    </h2>
</div>
{% else %}
<div class="car-statistics">
    <h2 class="section-title">Видалення автомобіля</h2>
<div id="delete-info">
    <p>Автомобіль з номером <b>{{car}}</b> буде видалено з вашого акаунту!</p>
    <div>
    <a 
        class="btn-danger"
        href="#"
        hx-delete="{{ url_for('delete_car', car_plate=car)}}"
        hx-trigger="click"
        hx-target="#delete-info"
        hx-swap="innerHTML">Видалити</a>
    <a class="button" href="{{ url_for('get_user_page')}}">Повернутись</a>
    </div>
</div>
</div>
{% endif %}
{% endblock %}