{% extends "base.html" %}
{% block content %}
        <section>
            <!-- Відображення даних про номерний знак та статус -->
            <div 
            hx-get="{{ url_for('get_user_messages')}}"
            hx-trigger="load"
            hx-swap="innerHTML" 
            >
            <!-- htmx page goes here -->
            </div>
            <!-- Відображення даних про номерний знак та статус -->
            <div 
            hx-get="{{ url_for('get_user_cars')}}"
            hx-trigger="load"
            hx-swap="innerHTML" 
            >
            <!-- htmx page goes here -->
            </div>  
        </section>
        <section>
            <div 
            hx-get="{{ url_for('get_user_bills')}}"
            hx-trigger="load"
            hx-swap="innerHTML" 
            >
        </section>
        <!-- <section>
            <h2>Історія паркування</h2>
            <p>Перегляньте історію своїх паркувань.</p>
            Таблиця з історією паркування 
            </section> -->
{% endblock %}