{% extends "base.html" %}
{% block content %}
<header class="header">
    <h1>Панель адміністратора</h1>
    <nav>
        <ul class="menu">
            <li><a href="{{ url_for('get_user_management') }}" class="button">Користувачі</a>
            </li>
            <li><a href="{{ url_for('get_tariff_management') }}" class="button">Тарифи</a>
            </li>
            <li><a href="{{ url_for('get_blacklist_management') }}" class="button">Чорний список</a></li>
            <li><a href="{{ url_for('get_stats_management') }}" class="button">Статистика</a></li>
            <li><a href="{{ url_for('logout') }}" class="button">Вийти</a></li>
        </ul>
    </nav>
</header>

<main class="main">
    <section id="admin-content">
        <h2>Ласкаво просимо до панелі адміністратора</h2>
        <p>Оберіть розділ для управління з меню вище.</p>
    </section>
</main>
{% endblock %}
