{% extends "admin/admin_base.html" %}
{% block admin_content %}
<h2 class="section-title">Кількість паркувань</h2>
<form action="{{ url_for('get_parking_count_stats') }}" method="get" class="form-container">
    <div class="form-group">
        <label for="period" class="form-label">Виберіть період:</label>
        <select id="period" name="period" class="form-select">
            <option value="day" {% if period == 'day' %}selected{% endif %}>День</option>
            <option value="week" {% if period == 'week' %}selected{% endif %}>Тиждень</option>
            <option value="month" {% if period == 'month' %}selected{% endif %}>Місяць</option>
        </select>
    </div>
    <button type="submit" class="btn-primary">Показати статистику</button>
</form>

{% if parking_count is not none %}
    <h3 class="parking-stats-title">Кількість паркувань за {{ period }}: <strong>{{ parking_count }}</strong></h3>
{% else %}
    <p class="no-data-text">Поки що немає даних для відображення.</p>
{% endif %}
{% endblock admin_content %}
