{% extends "base.html" %} {% block content %}
<div class="container mt-5">
  <h2>Керування тарифами</h2>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Додати новий тариф</h5>
      <form action="/admin/tariffs/add" method="post">
        <div class="mb-3">
          <label for="new_rate" class="form-label"
            >Новий тариф (грн/год):</label
          >
          <input
            type="number"
            class="form-control"
            id="new_rate"
            name="new_rate"
            step="0.01"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Додати тариф</button>
      </form>
    </div>
  </div>

  <div class="card mt-3">
    <div
      class="card-body"
      hx-get="{{ url_for('get_last_tariff') }}"
      hx-trigger="load"
      hx-swap="innerHTML"
    ></div>
  </div>
</div>
{% endblock %}
