{% extends "admin/admin_base.html" %}

{% block admin_content %}
<div class="user-ban-management">
<h2 class="section-title">Управління користувачами</h2>
<p class="section-description">Тут можна додавати або видаляти користувачів.</p>
</div>
<!-- Форма для додавання користувача -->
<h3 class="form-title">Додати корисувача</h3>
<form action="/admin/add_user" method="post" class="form-container">
    <div>
        <label for="username" class="form-label">Ім'я користувача:</label>
        <input class="form-input" type="text" id="username" name="username" required>
    </div>
    <div>
        <label class="form-label" for="email">Email:</label>
        <input class="form-input" type="email" id="email" name="email" required>
    </div>
    <div>
        <label class="form-label" for="password">Пароль:</label>
        <input class="form-input" type="password" id="password" name="password" required>
    </div>
    <button class="btn-primary" type="submit">Додати користувача</button>
</form>

<!-- Список користувачів -->
<div class="container">
<h3 class="form-title">Список користувачів</h3>
<div
        class="banned-users-list"
        hx-get="{{ url_for('get_user_list') }}"
        hx-trigger="load"
        hx-swap="innerHTML">
</div>
</div>

<!-- Форма для видалення користувача -->
<h3 class="form-title">Видалити користувача</h3>
<form action="/admin/delete_user" method="post" class="form-container">
    <div class="form-group">
        <label class="form-label" for="delete_username">Ім'я користувача для видалення:</label>
        <input  class="form-input" type="text" id="delete_username" name="username" required>
    </div>
    <button class="btn-danger" type="submit">Видалити користувача</button>
</form>


{% endblock admin_content%}
