{% extends "base.html" %}
{% block content %}
        <div id="turnpike" class="barrier-info container"
        hx-get="{{url_for('get_turnpike_down')}}"
        hx-swap="innerHTML"
        hx-trigger="load"
        >        
        </div>
        </div>
        <section class="hero">
            <h2>Система камер автоматичної парковки</h2>
            <div>
                <h2>Камера в'їзду</h2>
                <form hx-post="{{ url_for ('post_enter_camera')}}" hx-target="#turnpike"
                enctype="multipart/form-data">
                    <h1>Photo of entering car</h1>
                    <div>
                      <input type="file" id="inCamera" name="car_plate" required>
                      <label for="inCamera">Carplate</label>
                    </div>
                    <div>
                    <button type="submit">Process car</button>
                    </div>
                  </form>
            </div>
            <div>
                <h2>Камера виїзду</h2>
                <form hx-post="{{ url_for ('post_leave_camera')}}" hx-target="#turnpike"
                      enctype="multipart/form-data"
                >
                    <h1>Photo of leaving car</h1>
                    <div>
                      <input type="file" id="outCamera" name="car_plate" required>
                      <label for="outCamera">Carplate</label>
                    </div>
                    <div>
                    <button type="submit">Process car</button>
                    </div>
                  </form>
            </div>
        </section>
{% endblock %}
