{% extends "base.html" %}}
{% block content %}
        {% if error %}
        <div>
            <h1>Нештатна ситуація</h1>
            <p>{{error}}</p>
        </div>
        {% endif %}
        <section class="hero">
            <h2>Система камер автоматичної парковки</h2>
            <div>
                <h2>Камера в'їзду</h2>
                <form action="{{ url_for ('post_enter_camera')}}" method="post">
                    <h1>Photo of entering car</h1>
                    <div>
                      <input type="text" id="inCamera" name="car_plate" placeholder="Carplate" required>
                      <label for="inCamera">Carplate</label>
                    </div>
                    <div>
                    <button type="submit">Process car</button>
                    </div>
                  </form>
            </div>
            <div>
                <h2>Камера виїзду</h2>
                <form action="{{ url_for ('post_leave_camera')}}" method="post">
                    <h1>Photo of leaving car</h1>
                    <div>
                      <input type="text" id="outCamera" name="car_plate" placeholder="Carplate" required>
                      <label for="outCamera">Carplate</label>
                    </div>
                    <div>
                    <button type="submit">Process car</button>
                    </div>
                  </form>
            </div>
            <div>
                <h2>Паркомісця</h2>
                <p>вільні 15 з 30</p>
            </div>
            <div>
                <h2>Шлагбаум</h2>
                <p>Опущений</p>
            </div>
        </section>
{% endblock %}
