{% extends "base.html" %}
{% block content %}

<section class="about">
    <h2>Про застосунок OCRParking</h2>
    <p>
        OCRParking – це сучасний інструмент для автоматизації управління паркуванням, 
        який дозволяє швидко та точно розпізнавати номерні знаки транспортних засобів і 
        вести облік їхньої присутності на парковці.
    </p>

    <section class="features">
        <h2>Функціональні можливості</h2>
        <div class="feature-cards">
            <!-- OCR-розпізнавання -->
            <div class="feature-card">
                <img src="img\ocr.png" alt="OCR-розпізнавання">
                <h3>OCR-розпізнавання</h3>
                <p>
                    Розпізнавання номерних знаків у реальному часі за допомогою технологій OCR 
                    (оптичне розпізнавання символів).
                </p>
            </div>

            <!-- Моніторинг парковки -->
            <div class="feature-card">
                <img src="img/monitoring.png" alt="Моніторинг парковки">
                <h3>Моніторинг парковки</h3>
                <p>Відстеження та управління станом парковки.</p>
            </div>

            <!-- Зручний інтерфейс -->
            <div class="feature-card">
                <img src="img/interface.png" alt="Зручний інтерфейс">
                <h3>Зручний інтерфейс</h3>
                <p>
                    Інтуїтивно зрозумілий інтерфейс для адміністраторів та користувачів.
                </p>
            </div>

            <!-- Безпека -->
            <div class="feature-card">
                <img src="img/security.png" alt="Безпека">
                <h3>Безпека</h3>
                <p>
                    Ведення журналу подій для забезпечення безпеки.
                </p>
            </div>
        </div>
    </section>

    <section class="mission">
        <h2>Місія та цілі</h2>
        <p>
            Наша місія полягає в тому, щоб спростити процес управління паркуванням, 
            знизити людський фактор і підвищити ефективність за допомогою новітніх технологій. 
            Ми прагнемо створити систему, яка допоможе організаціям оптимізувати роботу парковок і 
            забезпечити комфорт користувачів.
        </p>
    </section>
</section>

{% endblock %}
