{% extends "base.html" %}
{% block content %}
    <section class="hero">
        <h2>Ласкаво просимо до системи управління паркуванням</h2>
        <p>Автоматичне розпізнавання номерних знаків і відстеження паркування.</p>
        <h1>Сторінка про застосунок</h1>
    </section>

    <section class="about">
        <h2>Про застосунок OCRParking</h2>
        <p>OCRParking – це сучасний інструмент для автоматизації управління паркуванням, який дозволяє швидко та точно розпізнавати номерні знаки транспортних засобів і вести облік їхньої присутності на парковці.</p>
        
        <h3>Функціональні можливості:</h3>
        <ul>
            <li>Розпізнавання номерних знаків у реальному часі за допомогою технологій OCR (оптичне розпізнавання символів).</li>
            <li>Відстеження та управління станом парковки.</li>
            <li>Інтуїтивно зрозумілий інтерфейс для адміністраторів та користувачів.</li>
            <li>Ведення журналу подій для забезпечення безпеки.</li>
        </ul>

        <h3>Місія та цілі:</h3>
        <p>Наша місія полягає в тому, щоб спростити процес управління паркуванням, знизити людський фактор і підвищити ефективність за допомогою новітніх технологій. Ми прагнемо створити систему, яка допоможе організаціям оптимізувати роботу парковок і забезпечити комфорт користувачів.</p>
    </section>
{% endblock %}
