<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCRParking Система управління паркуванням</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for('static', path='bootstrap.min.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css')}}">
    <!-- <script src="{{ url_for('static', path='bootstrap.bundle.min.js')}}"></script> -->
    <script src="{{ url_for('static', path='htmx.min.js')}}"></script>
</head>
<body>
   <div class="page">
    <header>
      
      <h1>Система управління паркуванням</h1>
      <nav>
          
        <ul class="menu">
          <div class="logo">
            <img src="{{ url_for('static', path='img/logo.png')}}", width="60", alt="Логотип OCRParking">
          </div> 
          <li><a href="{{ url_for('index')}}">Головна</a></li>
          <li><a href="{{ url_for('about')}}">Про застосунок</a></li>
          {% if not user %}
          <li><a href="{{ url_for('get_login_form') }}">Увійти</a></li>
          <li><a href="{{ url_for('get_register_form')}}">Зареєструватись</a></li>
          {% endif %}
          {% if user %}
          <li><a href="{{ url_for('get_user_page') }}">Моя сторінка</a></li>
          {% if user.is_admin %}
          <li><a href="#">Адміністрування</a></li>
          {% endif %}
          <li><a href="#">{{ user.username }}</a></li>
          <li><a href="{{ url_for('logout_user')}}">Вийти</a></li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="content">
    <main>
      {% block content %}{% endblock %}
    </main>
  </div>
  <footer>
    <p>&copy; 2024 Система управління паркуванням. Всі права захищені.</p>
  </footer>
</div>
</body>
</html>
