<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OCRParking Система управління паркуванням</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{ url_for ('static', path='bootstrap.min.css')}}"> -->
    <link rel="stylesheet" href="{{ url_for ('static', path='styles.css')}}">
    <!-- <script src="{{ url_for ('static', path='bootstrap.bundle.min.js')}}"></script> -->
    <script src="{{ url_for ('static', path='htmx.min.js')}}"></script>
</head>
<body>
  <header>
    <h1>Система управління паркуванням</h1>
<nav>
      <ul>
        <li>
            <a href="{{ url_for('index')}}">Головна</a>
        </li>
        {% if user %}
        <li><a href="#">Мої автомобілі</a></li>
        <li><a href="#">Історія паркувань</a></li>
          {% if user.role == 'admin' %}
          <li><a href="#">Адміністрування</a></li>
          {% endif %}
          {% endif %}
        <li><a href="{{ url_for('about')}}">Про застосунок</a></li>
      </ul>
      <ul>
          {% if user %}
        <li><a href="#">{{ user.username }}</a></li>
        <li><a href="#">Вийти</a></li>
          {% else %}
        <li><a href="{{ url_for('get_login_form') }}">Увійти</a></li>
        <li><a href="{{ url_for('get_register_form')}}">Зареєструватись</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
<footer>
    <p>&copy; 2024 Система управління паркуванням. Всі права захищені.</p>
</footer>
</body>
</html>