{% extends "base.html" %}
{% block content %}
        <section class="hero">
            <h2>Ласкаво просимо до системи управління паркуванням</h2>
            <p>Автоматичне розпізнавання номерних знаків і відстеження паркування.</p>
            <a href="{{ url_for('about')}}" class="button">Дізнатися більше</a>
            <div class="img-index">
                <img src='img\img_1.png', alt="Картинка_1">
            </div> 
        </section>
        <section>
            
        </section>
{% endblock %}
